map_village_day_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
map_village_night_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
map_village_overview_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
